<mat-toolbar color = "primary">
    <button mat-button routerLink = "/">App</button>
    <button mat-button routerLink = '/clientes'>Clientes</button>
    <button mat-button routerLink = '/crear-cliente'>Nuevo cliente</button>
    <span style="flex:auto"></span>
    <button mat-button *ngIf="auth.isAutenticado">Bienvenido {{auth.getUsername}}</button>
    <button mat-button *ngIf="auth.isAutenticado" (click)="auth.logout()">Logout</button>
    <button mat-button *ngIf="!auth.isAutenticado" routerLink="/register">Registrarse</button>
</mat-toolbar>