<mat-card>
    <mat-card-header>
        <mat-card-title>
            Crear nueva cuenta de usuario
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="registerForm">
            <br/>
            <mat-form-field>
                <mat-label>Nombre de usuario</mat-label>
                <input matInput placeholder="Nombre de usuario" formControlName="userName">
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>
            <br/>
            <div class="new-form-btn">
                <button mat-raised-button color="primary" [disabled]="!registerForm.valid">Registrarse</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>