<h2 mat-dialog-title>Actualizar cliente</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field class="crear-cliente-field">
        <mat-label>Nombres del Cliente </mat-label>
        <input matInput formControlName = "nombres"/>
    </mat-form-field>
    <br/>
    <mat-form-field class="crear-cliente-field">
        <mat-label>Apellidos del Cliente </mat-label>
        <input matInput formControlName = "apellidos"/>
    </mat-form-field>
    <br/>
    <mat-form-field class="crear-cliente-field">
        <mat-label>Direccion del Cliente </mat-label>
        <input matInput formControlName = "direccion"/>
    </mat-form-field>
    <br/>
    <mat-form-field class="crear-cliente-field">
        <mat-label>Telefono del Cliente </mat-label>
        <input matInput formControlName = "telefono"/>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="cerrar()">Cerrar</button>
    <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>